Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

!build/calibrate_img/
!build/calibrate_output/
build/CMakeFiles
build/calibrate
build/calibrate_stereo
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/read
build/undistort_rectify
calib_imgs/
